@import url("styles/hero.css");
@import url("styles/search.css");
@import url("styles/shortcuts.css");
@import url("styles/footer.css");
@import url("styles/undock.css");
@import url("styles/scheduler.css");
@import url("styles/focus.css");

:root {
    --text-c: rgba(255, 255, 255, 0.9);
    --text-c-lt: rgba(255, 255, 255, 0.75);
    --hero-glow-c: rgba(255, 255, 255, 0.6);
    --shadow-c: rgba(128, 128, 128, 0.2);
    --shadow-c-da: rgba(0, 0, 0, 0.1);
    --shadow-c-lt: rgba(255, 255, 255, 0.2);
}

/* Day/Night text color modes */
html.light-mode {
    --text-c: rgba(0, 0, 0, 0.85);
    --text-c-lt: rgba(0, 0, 0, 0.7);
}

html.dark-mode {
    --text-c: rgba(255, 255, 255, 0.9);
    --text-c-lt: rgba(255, 255, 255, 0.75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", "Arial", "sans-serif", "system-ui";
    color: var(--text-c);
    min-height: 100vh;
    overflow: hidden;
}

a {
    /*text-decoration: none;*/
    color: inherit;
}

body.transitions-ready .hero_title,
body.transitions-ready .hero_time,
body.transitions-ready .hero_date,
body.transitions-ready .hero_glowing-separator,
body.transitions-ready .search-input,
body.transitions-ready .search-icon,
body.transitions-ready .quick-link,
body.transitions-ready .footer-text {
    transition: color 2s ease-in-out;
}